<template>
<v-app>
  <v-container xs>
    <v-layout row wrap shrink>
      <form>
    <v-text-field
      v-model="username"
      v-validate="'required|max:30'"
      :counter="30"
      :error-messages="errors.collect('username')"
      label="Username"
      data-vv-name="username"
      required
    ></v-text-field>
    <v-text-field
    type="password"
      v-model="password"
      v-validate="'required|password'"
      :error-messages="errors.collect('password')"
      label="Password"
      data-vv-name="password"
      required
    ></v-text-field>
    <v-btn @click="submit">submit</v-btn>
    <v-btn @click="clear">clear</v-btn>
  </form>
    </v-layout>   
  </v-container>
</v-app>
</template>

<script>
import Vue from 'vue'
  import VeeValidate from 'vee-validate'

  Vue.use(VeeValidate)
export default {
  name: "login",
  $_veeValidate: {
    validator: "new"
  },

  data: () => ({
    username: "",
    password: "",
    dictionary: {
      attributes: {
        username: "Username"
        // custom attributes
      },
      custom: {
        name: {
          required: () => "Name can not be empty",
          max: "The name field may not be greater than 30 characters"
          // custom messages
        },
      }
    }
  }),

  mounted() {
    this.$validator.localize("en", this.dictionary);
  },

  methods: {
    submit() {
      this.$validator.validateAll();
    },
    clear() {
      this.name = "";
      this.email = "";
      this.select = null;
      this.checkbox = null;
      this.$validator.reset();
    }
  }
};
</script>

<style>
</style>
