<template>
  <v-app>
    <v-navigation-drawer v-model="drawer" app temporary>
      <v-list>
        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>
              <span>Menu</span>
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-divider></v-divider>
        <template v-for="(item, index) in items">
          <v-list-tile :href="item.href" :to="{name: item.href}" :key="index">
            <v-list-tile-action>
              <v-icon light v-html="item.icon"></v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title v-html="item.title"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar class="indigo" dark app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>Masterpiece</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon @click="$router.push('login')">
        <v-icon>fa-user-nurse</v-icon>
      </v-btn>
    </v-toolbar>
    <v-content>
      <v-fade-transition mode="out-in"></v-fade-transition>
    </v-content>
  </v-app>
</template>


<script>
export default {
  data() {
    return {
      drawer: false,
      items: [
        {
          href: "home",
          router: true,
          title: "Home",
          icon: "home"
        },
        {
          href: "examples",
          router: true,
          title: "Example",
          icon: "extension"
        },
        {
          href: "about",
          router: true,
          title: "About",
          icon: "domain"
        }
      ]
    };
  }
};
</script>

<style>
</style>
