<template>
  <v-app>
    <v-layout row wrap>
      <v-flex shrink>
      <nav-bar-vue/>
    </v-flex>
      
    <v-content>
      <router-view/>
    </v-content>
    </v-layout>
    
  </v-app>
  
  
</template>
<script>
import { mapState } from "vuex";
import NavBarVue from "./components/NavBar.vue";

export default {
  components: {
    NavBarVue
    },
  mounted() {
  },
  computed: {
    //...mapState(["user"])
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
